* {
  box-sizing: border-box;
}

body {
  background-image: url("images/pattern-background-mobile.svg");
  background-color: #e0e8ff;
  background-repeat: no-repeat;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/*Grid view for mobile*/
[class*="col-"] {
  width: 100%;
}

.layout {
  position: relative;
  width: 90%;
  max-width: 375px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.center {
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.img {
  top: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.content {
  bottom: 0;
  padding: 0 10%;
}

p.header {
  font-weight: 900;
  font-size: 30px;
  color: hsl(223, 47%, 23%);
}

p {
  font-weight: 400;
  text-align: center;
}
.container {
  width: 100%;
  height: 90px;
  background: #f8f9fe;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.changePlan {
  flex-grow: 1;
  background: none;
  border: none;
  text-decoration: underline;
  color: #3c3096;
  font-weight: 700;
}

.changePlan:active {
  opacity: 0.6;
}

.paymentButton {
  background: #382ae1;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 17px;
  border-radius: 10px;
  width: 100%;
  height: 56px;
}

.paymentButton:active {
  opacity: 0.6;
}

.cancelButton {
  font-weight: 900;
  background: none;
  border: none;
  color: #7e8398;
}

.cancelButton:active {
  color: hsl(223, 47%, 23%);
}

/*Grid view for desktop*/
@media only screen and (min-width: 376px) {
  .layout {
    max-width: 510px;
  }
  body {
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e0e8ff;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
